* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  text-align: center;
  letter-spacing: 0.5px;
  font-size:large;
  padding: 10px;
}

body {
  display: flex;  
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("./assets/img/bkg.jpg");
}

button {
  background-color: rgba(18, 17, 17, 0.596);
  border-style: none;
  border-radius: 10px;
  height:max-content;
  background-size: cover;
  font-style: oblique;
  font-weight:lighter;
}
  
button:hover {
  background-color: rgba(18, 17, 17, 0.8);
  transition: .8s;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
}

